#container {
	display:inline-block;
	margin: 0 auto;
}

#gameArea {
	background-image: url('../img/stars.jpg');
	height:600px;
	margin:0 auto;
	width:1200px;	
	z-index:1;
	overflow:hidden;
	position: relative;
}

#ship {
	height:120px;
	width:200px;
	top:275px;
	left:100px;
	background-image: url('../img/spaceship.png');
	position:absolute;
	z-index:3;
}

#moon {
	background-image: url('../img/moon.png');
	height:300px;
	width:1500px;
	top:50px;
	z-index:2;
	position:absolute;
}

.monster {
	background-repeat: no-repeat;
	height:80px;
	width: 150px;
	z-index:3;
	position:absolute;
	left:1500px;
	top: 200px;
}

#bomb {
	background-image: url('../img/bomben.png');
	background-repeat: no-repeat;
	height:80px;
	width: 150px;
	z-index:3;
	position:absolute;
	margin-left:1500px;
	margin-top: 200px;
}

#timer, #score {
	width:500px;
	height:80px;
	margin-top:20px;
	float:left;
	
	font-family: Impact;
	font-size: 3em;
}